.head {
    border: 1px solid;
    width: 100%;
    height: 300px;
    background: #77aaff;
}

.mainContainer {

}

.navigation {
    border: 1px solid;
}

.body {

}

.rightSide {

}

.leftSide {

}

.footer {

}

.logo {
    height: 200px;
    width: 100%
}



